.review_container {
  display: flex;
  width: 600px;
  height: 144px;
  align-items: center;
  gap: 16px;
  padding: 8px;
  border: 1px solid;

  &.__light {
    border: 1px solid black;
  }

  &.__dark {
    border: 1px solid white;
  }
}

.review_avatar_container {
  width: 128px;
  height: 128px;
}

.review_text_container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
