* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.__light {
  color: black;
}

.__dark {
  color: white;
}

.container {
  display: flex;
  height: 100vh;
  padding: 16px;
}

.primary-bg {
  &.__light {
    background-color: antiquewhite;
  }
  &.__dark {
    background-color: dimgray;
  }
}

.secondary-bg {
  &.__light {
    background-color: aliceblue;
  }

  &.__dark {
    background-color: midnightblue;
  }
}

.review_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: min-content;
  gap: 16px;
}
